<head>
  <title>Meteor Blog</title>
</head>

<body>
  <div class="container" role="main">
    <div class="page-header">
      <div class="row">
        <div class="span3">
          <a href="/">
            <h1>Meteor Blog</h1>
          </a>
        </div>
        <div class="span9">
          <ul class="nav nav-pills nav-main">
            <li class="{{isActiveTop "home"}}"><a class="nav-link" href="/">Home</a></li>
            <li class="{{isActiveTop "postList|postDetail"}}"><a class="nav-link" href="/posts">Posts</a></li>
            <li class="{{isActiveTop "adminHome"}}"><a class="nav-link" href="/admin">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      {{renderPage}}
    </div>
  </div>
</body>
